<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LumiSoft.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LumiSoft.Net.Properties.Settings>
            <setting name="EncodingMapps" serializeAs="String">
                <value>utf8,uft-8=&gt;utf-8</value>
            </setting>
        </LumiSoft.Net.Properties.Settings>
    </userSettings>
</configuration>