<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JobAlertManagerGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <JobAlertManagerGUI.Properties.Settings>
        <setting name="LastDepositeFolder" serializeAs="String">
          <value>C:\</value>
        </setting>
        <setting name="EMailReaderHeight" serializeAs="String">
          <value>500</value>
        </setting>
        <setting name="EMailReaderWidth" serializeAs="String">
          <value>450</value>
        </setting>
        <setting name="EMailReaderLeft" serializeAs="String">
          <value>50</value>
        </setting>
        <setting name="EMailReaderTop" serializeAs="String">
          <value>50</value>
        </setting>
        <setting name="EMailReaderHeaderHeight" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="EMailReaderLayout" serializeAs="String">
          <value />
        </setting>
        <setting name="EMailReaderLayoutScale" serializeAs="String">
          <value>1</value>
        </setting>
      </JobAlertManagerGUI.Properties.Settings>
    </userSettings>
</configuration>